<?xml version="1.0"?>

<robot name="dabai" xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="dabai" params="object_name:='dabai' topic='dabai' camera_link='camera_link'  image_link='image_link' point_link='point_link' parent_link:='link' xyz:='0 0 0' rpy:='0 0 0'">

        <xacro:property
            name="mass"
            value="0.1"/>
        <xacro:property
            name="length"
            value="0.0195"/>
        <xacro:property
            name="width"
            value="0.06"/>
        <xacro:property
            name="height"
            value="0.015"/>
        <xacro:property
            name="M_PI"
            value="3.1415926536"/>
        
        <link
            name="${camera_link}">
            <inertial>
                <origin
                    xyz="0 0 0"
                    rpy="${0*M_PI/180} ${0*M_PI/180} ${0*M_PI/180}"/>
                <mass
                    value="${mass}"/>
                <inertia
                    ixx="${(width * width + height * height) / 12.0}"
                    ixy="0.0"
                    ixz="0.0"
                    iyy="${(length * length + height * height) / 12.0}"
                    iyz="0.0"
                    izz="${(length * length + width * width) / 12.0}"/>
            </inertial>
            <visual>
                <origin
                    xyz="0 0 0"
                    rpy="${0*M_PI/180} ${0*M_PI/180} ${0*M_PI/180}"/>
                <geometry>
                    <box 
                        size="${length} ${width} ${height}"/>
                </geometry>
                <material
                    name="${object_name}_material">
                    <color
                        rgba="0 1 0 1"/>
                    <texture
                        filename=""/>
                </material>
            </visual>
            <collision>
                <origin
                    xyz="0 0 0"
                    rpy="${0*M_PI/180} ${0*M_PI/180} ${0*M_PI/180}"/>
                <geometry>
                    <box 
                        size="${length} ${width} ${height}"/>
                </geometry>
            </collision>
        </link>

        <link
            name="${image_link}"/>

        <link
            name="${point_link}"/>

        <joint
            name="${object_name}_camera_joint"
            type="fixed">
            <origin
                xyz="${xyz}"
                rpy="${rpy}"/>
            <parent
                link="${parent_link}"/>
            <child
                link="${camera_link}"/>
        </joint>

        <joint
            name="${object_name}_image_joint"
            type="fixed">
            <origin
                xyz="0 0.01 0"
                rpy="${-90*M_PI/180} 0 ${-90*M_PI/180}"/>
            <parent
                link="${camera_link}"/>
            <child
                link="${image_link}"/>
        </joint>

        <joint
            name="${object_name}_point_joint"
            type="fixed">
            <origin
                xyz="0 0.0 0"
                rpy="0 0 0"/>
                <!-- rpy="${-90*M_PI/180} ${0*M_PI/180} ${-90*M_PI/180}"/> -->
            <parent
                link="${camera_link}"/>
            <child
                link="${point_link}"/>
        </joint>

        <xacro:if value="true">
            <gazebo reference="${camera_link}">
                <sensor
                    name="${object_name}_sensor"
                    type="rgbd_camera">

                    <!-- Sensor pose relative to image_link -->
                    <pose>0 0 0 0 0 0</pose>

                    <always_on>true</always_on>
                    <update_rate>30</update_rate>
                    <visualize>true</visualize>

                    <!--
                        Base Gazebo Transport topic.

                        Expected child topics:
                            ${topic}/image
                            ${topic}/camera_info
                            ${topic}/depth_image
                            ${topic}/points
                    -->
                    <topic>${topic}</topic>

                    <!-- Gazebo rendering sensor frame: +Z forward -->
                    <gz_frame_id>${point_link}</gz_frame_id>

                    <camera name="${object_name}_camera">
                        <horizontal_fov>
                            ${60.0 * M_PI / 180.0}
                        </horizontal_fov>

                        <image>
                            <width>640</width>
                            <height>480</height>
                            <format>R8G8B8</format>
                        </image>

                        <!-- RGB rendering range -->
                        <clip>
                            <near>0.1</near>
                            <far>8.0</far>
                        </clip>

                        <!-- Depth and point-cloud range -->
                        <depth_camera>
                            <clip>
                                <near>0.2</near>
                                <far>8.0</far>
                            </clip>
                        </depth_camera>

                        <!-- ROS optical convention -->
                        <optical_frame_id>
                            ${camera_link}
                        </optical_frame_id>
                    </camera>
                </sensor>
            </gazebo>
        </xacro:if>
    </xacro:macro>
</robot>