<?xml version="1.0"?>

<robot name="dabai" xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="dabai" params="object_name:='dabai' topic='dabai' image_link='dabai_image_link' point_link='dabai_point_link' parent_link:='link' xyz:='0 0 0' rpy:='0 0 0'">

        <xacro:property
            name="mass"
            value="0.1"/>
        <xacro:property
            name="length"
            value="0.0195"/>
        <xacro:property
            name="width"
            value="0.06"/>
        <xacro:property
            name="height"
            value="0.015"/>
        <xacro:property
            name="M_PI"
            value="3.1415926536"/>
        
        <link
            name="${image_link}">
            <inertial>
                <origin
                    xyz="0 0 0"
                    rpy="${0*M_PI/180} ${0*M_PI/180} ${0*M_PI/180}"/>
                <mass
                    value="${mass}"/>
                <inertia
                    ixx="${(width * width + height * height) / 12.0}"
                    ixy="0.0"
                    ixz="0.0"
                    iyy="${(length * length + height * height) / 12.0}"
                    iyz="0.0"
                    izz="${(length * length + width * width) / 12.0}"/>
            </inertial>
            <visual>
                <origin
                    xyz="0 0 0"
                    rpy="${0*M_PI/180} ${0*M_PI/180} ${0*M_PI/180}"/>
                <geometry>
                    <box 
                        size="${length} ${width} ${height}"/>
                </geometry>
                <material
                    name="${object_name}_material">
                    <color
                        rgba="0 1 0 1"/>
                    <texture
                        filename=""/>
                </material>
            </visual>
            <collision>
                <origin
                    xyz="0 0 0"
                    rpy="${0*M_PI/180} ${0*M_PI/180} ${0*M_PI/180}"/>
                <geometry>
                    <box 
                        size="${length} ${width} ${height}"/>
                </geometry>
            </collision>
        </link>

        <link
            name="${point_link}"/>

        <joint
            name="${object_name}_image_joint"
            type="fixed">
            <origin
                xyz="${xyz}"
                rpy="${rpy}"/>
            <parent
                link="${parent_link}"/>
            <child
                link="${image_link}"/>
        </joint>

        <joint
            name="${object_name}_point_joint"
            type="fixed">
            <origin
                xyz="0 0 0"
                rpy="${-90*M_PI/180} ${0*M_PI/180} ${-90*M_PI/180}"/>
            <parent
                link="${image_link}"/>
            <child
                link="${point_link}"/>
        </joint>

        <gazebo reference="${image_link}">
            <sensor name="${object_name}_depth_sensor" type="depth">
                <always_on>true</always_on>
                <update_rate>30</update_rate>
                <visualize>true</visualize>
                <camera>
                    <horizontal_fov>${60*M_PI/180}</horizontal_fov>
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>8.0</far>
                    </clip>
                </camera>
                <plugin name="${object_name}_plugin" filename="libgazebo_ros_camera.so">
                    <ros>
                        <namespace>/</namespace>
                        <remapping>${object_name}_depth_sensor/camera_info:=${topic}/camera_info</remapping>
                        <remapping>${object_name}_depth_sensor/depth/camera_info:=${topic}/depth/camera_info</remapping>
                        <remapping>${object_name}_depth_sensor/image_raw:=${topic}/image_raw</remapping>
                        <remapping>${object_name}_depth_sensor/depth/image_raw:=${topic}/depth/image_raw</remapping>
                        <remapping>${object_name}_depth_sensor/points:=${topic}/points</remapping>
                    </ros>
                    <frame_name>${point_link}</frame_name>
                    <point_cloud_cutoff>0.2</point_cloud_cutoff>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>