<?xml version="1.0"?>

<robot name="hardware_control" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="ros2_control" params="namespace:='limo' controller_manager_path:='$(find limo_hardware)/config/controller_manager.yaml'">
        <ros2_control name="ros2_control_system" type="system">
            <!-- <hardware>
                <plugin>limo_interface/LimoSystem</plugin>
                <param name="wheel_front_left_joint_velocity_timeout">0.2</param>
                <param name="wheel_front_left_joint_velocity_state_dir">false</param>
                <param name="wheel_front_left_joint_velocity_command_dir">false</param>
                <param name="wheel_front_right_joint_velocity_timeout">0.2</param>
                <param name="wheel_front_right_joint_velocity_state_dir">false</param>
                <param name="wheel_front_right_joint_velocity_command_dir">false</param>
                <param name="wheel_rear_left_joint_velocity_timeout">0.2</param>
                <param name="wheel_rear_left_joint_velocity_state_dir">false</param>
                <param name="wheel_rear_left_joint_velocity_command_dir">false</param>
                <param name="wheel_rear_right_joint_velocity_timeout">0.2</param>
                <param name="wheel_rear_right_joint_velocity_state_dir">false</param>
                <param name="wheel_rear_right_joint_velocity_command_dir">false</param>
            </hardware> -->

            <hardware>
                <plugin>joint_state_topic_hardware_interface/JointStateTopicSystem</plugin>
                <param name="node_namespace">/${namespace}</param>
                <param name="joint_commands_topic">/${namespace}/hardware/joint_states</param>
                <param name="joint_states_topic">/${namespace}/hardware/joint_states</param>
                <param name="trigger_joint_command_threshold">-1</param>
            </hardware>

            <!-- <hardware>
                <plugin>cm_topic_hardware_component/CMTopicSystem</plugin>
            </hardware> -->

            <!-- <hardware>
                <plugin>fake_components/GenericSystem</plugin>
            </hardware> -->

            <joint name="wheel_front_left_joint">
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <command_interface name="position">
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
            </joint>

            <joint name="wheel_front_right_joint">
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <command_interface name="position">
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
            </joint>

            <joint name="wheel_rear_left_joint">
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <command_interface name="position">
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
            </joint>

            <joint name="wheel_rear_right_joint">
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <command_interface name="position">
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
            </joint>
        </ros2_control>
    </xacro:macro>

</robot>
